<template>
  <h1>ภาคตะวันออก</h1>
  <br/>
      <!-- แหล่งที่1 -->
  <div class="my-5">
      <div class="picture">            
            <img src="https://www.tripetchinsurance.com/wp-content/uploads/2023/10/01_top-beaches-near-bangkok.jpg"   class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">1. เกาะล้าน</h5>
            <p class="card-text">  เกาะที่ได้รับความนิยมทั้งจากชาวไทยและต่างชาติ เพราะตั้งอยู่ไม่ไกลจากชายฝั่งพัทยาเท่าไรก็ได้เจอกับน้ำทะเลใส ๆ หาดทรายขาวละเอียด แถมยังครบครันด้วยสิ่งอำนวยความสะดวกต่าง ๆ มากมาย ทั้งที่พักเกาะล้านหลากแบบ หลายราคา ร้านอาหารทะเลอร่อย ๆ คาเฟ่บรรยากาศดีนั่งจิบกาแฟเคล้าเสียงคลื่น รวมถึงมีกิจกรรมทางน้ำให้เลือกทำเพียบ
            </p>
          
    <!-- แหล่งที่2 -->
    <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/77ddc683-1f23-4ff4-9892-1ec6ea9208dd.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">2. เกาะสีชัง</h5>
            <p class="card-text">  เกาะชื่อดังอีกแห่งหนึ่งของชลบุรี สามารถไปเที่ยวได้ทั้งแบบไปเช้า-เย็นกลับ หรือค้างคืนดื่มด่ำกับธรรมชาติสวย ๆ เพราะบนเกาะมีสถานที่ท่องเที่ยวให้ไปเยี่ยมชมมากมาย ไม่ว่าจะเป็นการไปสักการะ “ศาลเจ้าพ่อเขาใหญ่” สถานที่ศักดิ์สิทธิ์ที่ชาวบ้านบนเกาะสีชังให้ความเคารพนับถืออย่างมาก, ขึ้นไป “มณฑปรอยพระพุทธบาท” จุดชมวิวเกาะสีชังในมุมสูง ซึ่งสามารถมองเห็นวิวท้องทะเลได้ไกลสุดลูกหูลูกตา
            </p>
  <!-- แหล่งที่3 -->
  <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/701ccff5-31bc-4044-8f75-e01c2f55a38e.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">3. บางแสน</h5>
            <p class="card-text">   แหล่งพักผ่อนหย่อนใจสุดคลาสสิกตั้งแต่อดีตจนถึงปัจจุบัน ซึ่งทุกวันหยุดจะคึกคักไปด้วยนักท่องเที่ยว เนื่องจากเป็นชายหาดขนาดใหญ่ที่ใกล้กรุงเทพฯ สามารถเดินทางแบบไปเช้า-เย็นกลับได้สบาย ๆ หาดบางแสนมีความยาวต่อเนื่องกันถึง 4.5 กิโลเมตร โดยแบ่งออกเป็น 3 ส่วน คือ “หาดบางแสน” เป็นช่วงกลางของหาดและเป็นจุดที่นิยมลงเล่นน้ำกัน มีถนนตัดเลียบหาดเคียงคู่ไปกับทิวมะพร้าว ถัดเข้าไปมีร้านอาหาร ร้านขายของที่ระลึก และที่พักเรียงรายอยู่จำนวนมาก
            </p>
    <!-- แหล่งที่4 -->
    <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/32574f00-5f3d-49cc-8b92-cd6fdcf6f0c6.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">4. พัทยา</h5>
            <p class="card-text">  เมืองท่องเที่ยวชายทะเลที่มีชื่อเสียงมากที่สุดแห่งหนึ่งของประเทศ และเป็นที่รู้จักกันไปทั่วโลก เพราะมีนักท่องเที่ยวต่างชาติแวะเวียนไปเที่ยวพักผ่อนอยู่เสมอ โดยเป็นหาดทรายที่มีความยาวต่อเนื่อง แบ่งเป็นพัทยาเหนือ พัทยากลาง และพัทยาใต้
            </p>
      <!-- แหล่งที่5 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/e1c6d80e-29ee-458f-aec7-ef75cc8ffb65.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">5. สัตหีบ</h5>
            <p class="card-text">    อำเภอน่าเที่ยวของภาคตะวันออก ที่รวยเสน่ห์ด้วยสถานที่ท่องเที่ยวทางทะเล มีทั้งชายหาด เกาะแก่งต่าง ๆ รวมถึงมีสถานที่ท่องเที่ยวอื่น ๆ อีกมากมาย ทำให้นักท่องเที่ยวเป็นจำนวนไม่น้อยเลือกที่จะไปเที่ยวพักผ่อนชิล ๆ ที่สำคัญยังเป็นเป็นเมืองแห่งฐานทัพเรืออีกด้วย
            </p>
      <!-- แหล่งที่6 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/a39c604c-5c6d-4049-b9dc-3df259b66470.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">6. เกาะเสม็ด</h5>
            <p class="card-text">    สถานที่ท่องเที่ยวที่สำคัญของจังหวัดระยอง ตั้งอยู่ในเขตตำบลเพ อำเภอเมืองระยอง ห่างจากชายฝั่งบ้านเพประมาณ 6-7 กิโลเมตร ใช้เวลาเดินทางจากกรุงเทพฯ-ท่าเรือบ้านเพ เพียงแค่ประมาณ 2-3 ชั่วโมงเท่านั้น แล้วยังมีรถโดยสารประจำทางไปส่งถึงท่าเรือ การเดินทางสะดวกสบายง่ายดาย อีกทั้งเกาะเสม็ดยังมีธรรมชาติของท้องทะเลที่สวยงามไม่น้อยหน้าเกาะไหน ๆ ในไทย ที่นี่จึงเป็นสวรรค์ของคนที่อยากไปพักผ่อนในวันหยุด ที่สำคัญที่พักเกาะเสม็ดยังมีให้เลือกหลากแบบหลายราคา ตามงบประมาณในกระเป๋า
            </p>
      <!-- แหล่งที่7 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/870ccbed-2f43-4e4a-98ad-c3f90ec1812b.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">7. ทุ่งโปรงทอง</h5>
            <p class="card-text">   แหล่งท่องเที่ยวที่ซ่อนความสวยงามของธรรมชาติเอาไว้ สำหรับ  “ทุ่งโปรงทอง” ซึ่งเป็นบริเวณป่าชายเลนริมทะเลประแส อำเภอแกลง ที่มีการปลูกต้นโปรงไว้เป็นจำนวนมาก มองไปได้ไกลสุดลูกหูลูกตา โดยจะมีทางเดินไม้ระยะทางประมาณ 2.6 กิโลเมตร ลัดเลาะไปตามทุ่งโปรงทอง ให้นักท่องเที่ยวได้เดินถ่ายภาพกับทุ่งแห่งนี้กันอย่างใกล้ชิด
            </p>
      <!-- แหล่งที่8 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/64ef3a90-72e9-4e16-9023-386df05f83bb.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">8. หาดแม่รำพึง</h5>
            <p class="card-text">  หาดยอดนิยมทั้งจากคนในพื้นที่และนักท่องเที่ยวต่างถิ่น ทำให้ในช่วงมันหยุดจะคึกคักไปด้วยผู้คน ชายหาดมีความยาว 12 กิโลเมตร โดยมีถนนเลียบชายหาดยาวขนาดกันไป อีกทั้งยังมีที่พักมากมาย ชายหาดเหมาะแก่การเล่นน้ำ เพราะมีความลาดชันน้อย แต่ควรระมัดระวังเป็นพิเศษ เนื่องจากบริเวณตอนกลางของหาดมีน้ำวน โดยปฏิบัติตามป้ายเตือนที่ติดตั้งไว้ เนื่องจากบางบริเวณเป็นแอ่งน้ำลึก อาจเกิดอันตรายได้ และไม่ควรเล่นน้ำในขณะคลื่นลมแรง
            </p>
      <!-- แหล่งที่9 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/cadda4cd-7b95-47fd-93b6-9a3c691c0926.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">9. เที่ยวเขตเมืองเก่า ณ ถนนยมจินดา</h5>
            <p class="card-text">  ถนนยมจินดา ตั้งอยู่ภายในเทศบาลนครระยอง อำเภอเมืองระยอง เป็นถนนที่รายล้อมไปด้วยชุมชนเก่าแก่ บ้านเรือนบริเวณสองฟากฝั่งถนนจะเป็นบ้านไม้โบราณ บางบ้านมีการตกแต่งใหม่อย่างสวยงามแต่ยังคงความดั้งเดิมของสถาปัตยกรรมไว้ ปัจจุบันได้มีการปรับปรุงและพัฒนาให้ถนนเส้นนี้เป็นแหล่งท่องเที่ยว


            </p>
      <!-- แหล่งที่10 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/f58dcbd1-7fb0-4fa7-a441-8339592bd067.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">10. บ้านน้ำเชี่ยว</h5>
            <p class="card-text">  ตัวอย่างที่โดดเด่นในด้านวิถีชีวิตและวัฒนธรรม ตั้งอยู่ในตำบลน้ำเชี่ยว อำเภอแหลมงอบ เป็นชุมชนชาวบ้านในหมู่บ้านมีการนับถือศาสนาที่แตกต่างกัน แต่ก็สามารถอยู่ร่วมกันได้อย่างมีความสุข นักท่องเที่ยวจะได้เดินเที่ยวชมวิถีชีวิตสุดเรียบง่าย เยี่ยมชมทั้งมัสยิด วัดเก่าแก่ภายในชุมชน ได้ร่วมกิจกรรมสุดสนุกสนานทั้งการนั่งเรือชมป่าชายเลนและปากอ่าว การทำเครื่องจักสานท้องถิ่นอย่างหมวกงอบ พร้อมทั้งกินอาหารพื้นเมืองสุดฟิน และมีโฮมสเตย์ไว้รองรับนักท่องเที่ยว
            </p>

  </div>  
</template>

<script>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h5,p {
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;

}

a{
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;
  }
.card-text{
  padding-bottom: 2%;
}
h1 {
          text-align: center;
          padding-top: 20px;
          padding-left: 50px;
          border: 2px solid #333;
          padding-bottom: 30px;
          background-color: #bafc85;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
          font-family: "Sriracha", cursive;
          font-weight: 400;
          font-style: normal;          
}
      .picture {
          text-align: center;
          padding-bottom: 2%;
      }

      .picture img {
          max-width: 50%;
          height: auto;
          padding: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .cart-title {
        font-size: 30px;
          text-align: center;
          margin-top: 20px;
          color: #333;
      }

      .card-text {
            text-align: justify;
            margin-top: 10px;
            color: #555;
            padding-left: 4%;
            padding-right: 4%;
        }
    
</style>
