<script setup>

import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.info("ยินดีต้อนรับ สู่เว็บไซต์แหล่งท่องเที่ยว", {
  autoClose: 1500,
  position:toast.POSITION.TOP_CENTER
})



</script>

<template>
  <div class="container my-1">
    <div class="row">
      <!-- ช่อง1 -->

        <div class="card shadow">
          <div class="card-header p-1">          
            <img src="https://s359.kapook.com//pagebuilder/8db7fbcf-55cf-4de1-9582-67d3e417a5f9.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h3 class="cart-title">ภาคเหนือ</h3>
            <p class="card-text"> เป็นภูมิภาคที่อยู่ด้านบนสุดของไทยมีลักษณะภูมิประเทศอันประกอบไปด้วยเทือกเขาสลับซับซ้อน ต่อเนื่องมาจากทิวเขาชานในประเทศพม่าและประเทศลาว ภาคเหนือมีภูมิอากาศแบบทุ่งหญ้าสะวันนา เหมือนกับพื้นที่ส่วนใหญ่ของประเทศ การที่มีพื้นที่อยู่เหนือระดับน้ำทะเลและมีเส้นละติจูดอยู่ตอนบนทำให้สภาพอากาศของภาคเหนือเปลี่ยนแปลงตามฤดูกาลอย่างเห็นได้ชัด
            </p>
            <router-link :to="{ name: 'north' }" class="btn btn-primary btn-sm float-right text-uppercase" @click="notify" style="font-size: 20px;">เพิ่มเติม...</router-link>
          </div>

      </div>
 <!-- ช่อง2 -->
<div class="card shadow">
  <div class="card-header p-1">

    <img src="https://lh3.googleusercontent.com/p/AF1QipPu4RYTInKCAG8jNkW3kDK1zem9i7vR536ut1w0=s680-w680-h510" class="card-img-top"
      alt="img">
    </div>
 
  <div class="card-body">
    <h3 class="cart-title">ภาคใต้</h3>
    <p class="card-text">ภาคใต้มีลักษณะภูมิประเทศเป็นคาบสมุทรที่มีทะเลขนาบอยู่ 2 ด้าน คือ ตะวันออกด้านอ่าวไทย และตะวันตกด้านทะเลอันดามัน จังหวัดพัทลุงและจังหวัดยะลาเป็นจังหวัดที่ไม่มีพื้นที่ติดต่อกับทะเลภายนอก ชายหาดฝั่งอ่าวไทยเกิดจากการยกตัวสูง มีที่ราบชายฝั่งทะเลยาว เรียบ กว้าง และน้ำตื้น ทะเลอันดามันมีชายฝั่งยุบต่ำลง มีที่ราบน้อย ชายหาดเว้าแหว่ง เป็นโขดหิน มีหน้าผาสูงชัน
    </p>
    <router-link :to="{ name: 'south' }" href="#" class="btn btn-primary btn-sm float-right text-uppercase" @click="notify" style="font-size: 20px;">เพิ่มเติม...</router-link>
  </div>


      </div>
  <!-- ช่อง3 -->
<div class="card shadow">
  <div class="card-header p-1">
    <div class style="width: 200">
    <img src="https://ik.imagekit.io/tvlk/blog/2020/09/%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%B0%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B8%AD%E0%B8%81-1.jpg?tr=dpr-2,w-675" class="card-img-top"
      alt="img">
   
  </div>
  <div class="card-body">
    <h3 class="cart-title">ภาคตะวันออก</h3>
    <p class="card-text">ภาคตะวันออกมีลักษณะภูมิประเทศเป็นที่ราบสูงสลับกับภูเขาลูกเตี้ยมาก มีชายฝั่งทะเลที่เรียบยาวและโค้งเว้า มีทิวเขาจันทบุรีอยู่ทางด้านชายฝั่งทะเลตะวันออก ทอดตัวไปทางด้านทิศตะวันตก จรดกับทิวเขาบรรทัด ซึ่งเป็นทิวเขาที่เป็นเส้นแบ่งเขตระหว่างประเทศไทยกับประเทศกัมพูชา
    </p>
    <router-link :to="{ name: 'east' }" href="#" class="btn btn-primary btn-sm float-right text-uppercase" @click="notify" style="font-size: 20px;">เพิ่มเติม...</router-link>
  </div>
</div>
</div>
 <!-- ช่อง4 -->

<div class="card shadow">
  <div class="card-header p-1">
    <img src="https://lh3.googleusercontent.com/p/AF1QipNEUt3FHmt6w51awRC9lsEqLImWjwtLrHVhWjpr=s680-w680-h510" class="card-img-top"
      alt="img">
  </div>
  <div class="card-body">
    <h3 class="cart-title">ภาคตะวันตก</h3>
    <p class="card-text">เป็นภูมิภาคหนึ่งของประเทศไทยในระบบการแบ่งแบบ 6 ภูมิภาคตามคณะกรรมการภูมิศาสตร์แห่งชาติ และเป็นภูมิภาคย่อยของภาคกลางของระบบการแบ่งแบบ 4 ภูมิภาค (ซึ่งรวมภาคตะวันออก และภาคตะวันตก) ภาคตะวันตกมีอาณาเขตติดต่อกับประเทศพม่าทางทิศตะวันตก ติดต่อกับภาคเหนือทางทิศเหนือ ติดต่อกับภาคกลางทางทิศตะวันออก และติดต่อกับภาคใต้ทางทิศใต้  
    </p>
    <router-link :to="{ name: 'west' }" href="#" class="btn btn-primary btn-sm float-right text-uppercase" @click="notify" style="font-size: 20px;">เพิ่มเติม...</router-link>
  </div>
</div>

 
    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h3,p {
    font-family: "Sriracha", cursive;
    font-weight: 400;
  font-style: normal;

  }
  
  a{
    font-family: "Sriracha", cursive;
    font-weight: 400;
  font-style: normal;
    }
    .container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 320px;
    gap: 0;
  }
}
.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .container {
    grid-gap: 0;
  }
}
.card {
  transform: scale(0.8); 
}

.cart-title {
  font-size: 30px;
            text-align: center;
            margin-top: 20px;
            color: #333; 
        }

.card .card-header {
  overflow: hidden; 
}

.card .card-header img {
  width: 100%; 
  height: auto; 
}
.card-text{
  font-size: 23px;
}

</style>
