<template>
    <h1>ภาคเหนือ</h1>
    <br/>
        <!-- แหล่งที่1 -->
    <div class=" my-5">
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/300e4312-2957-4f81-a2c4-e690803cf131.jpg"   class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">1. ไร่สิงห์ปาร์ค จังหวัดเชียงราย</h5>
              <p class="card-text"> ไร่สิงห์ปาร์ค เชียงราย หรือที่คุ้นกันในชื่อไร่บุญรอด ที่นี่ถือเป็นสถานที่ท่องเที่ยวเชิงเกษตรที่ใหญ่ที่สุดในประเทศไทย กับพื้นที่กว่า 8,000 ไร่ เพลิดเพลินไปกับทัวร์ฟาร์มสิงห์ปาร์ค ชมสวนสัตว์สายพันธ์แอฟริกัน ปั่นจักรยานชมธรรมชาติแบบใกล้ชิด กิจกรรมผจญภัย และการแข่งขันกีฬาตลอดทั้งปีอีกมากมาย ส่วนจุดที่น่าสนใจภายในไร่ ได้แก่ จุดบริการรถฟาร์มทัวร์ ร่วมสัมผัสบรรยากาศและธรรมชาติที่โอบล้อมด้วยภูเขา ตระการตากับไร่ชาและสวนผลไม้นานาชนิด, ทุ่งดอกคอสมอส และสระหงส์ หรือจะไปสร้างความตื่นเต้น ณ หอซิปไลน์ หน้าผาจำลอง และซิปไลน์ชมไร่ชาท่ามกลางวิว 360 องศา ก่อนจะไปรับประทานอาหารอร่อย ๆ ที่ร้านอาหารภูภิรมย์ ดูรายละเอียดเพิ่มเติมได้ที่ เฟซบุ๊ก Singha Park Chiang Rai สิงห์ปาร์ค เชียงราย
              </p>
            
      <!-- แหล่งที่2 -->
      <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/1cce91d8-90ef-4515-ad22-d57c43530f6f.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">2. พระธาตุดอยตุง จังหวัดเชียงราย</h5>
              <p class="card-text">  ตั้งอยู่บริเวณกิโลเมตรที่ 17.5 บนทางหลวงหมายเลข 1149 เป็นที่บรรจุพระรากขวัญเบื้องซ้าย (กระดูกไหปลาร้า) ของพระพุทธเจ้า นำมาจากมัธยประเทศ นับเป็นครั้งแรกที่พระพุทธศาสนาลัทธิลังกาวงศ์ได้มาประดิษฐานที่ล้านนาไทย เมื่อก่อสร้างพระสถูปบรรจุพระบรมสารีริกธาตุนี้ ได้ทำธงตะขาบ (ภาษาพื้นเมืองเรียกว่า ตุง) ใหญ่ยาวถึงพันวา ปักไว้บนยอดดอย ถ้าหากปลายธงปลิวไปไกลถึงเมืองไหน ก็จะกำหนดเป็นฐานพระสถูป เหตุนี้ดอยซึ่งเป็นที่ประดิษฐานปฐมเจดีย์แห่งล้านนาไทย จึงปรากฏนามว่า "ดอยตุง" ทั้งนี้ พระธาตุดอยตุงยังเป็นพระธาตุประจําปีเกิด "ปีกุน" อีกด้วย
              </p>
    <!-- แหล่งที่3 -->
    <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/8db7fbcf-55cf-4de1-9582-67d3e417a5f9.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">3. วัดร่องขุ่น จังหวัดเชียงราย</h5>
              <p class="card-text">    วัดที่มีชื่อเสียงโด่งดังอีกแห่งหนึ่งของจังหวัดเชียงราย อยู่ในท้องที่ตำบลป่าอ้อดอนชัย อำเภอเมือง ออกแบบและก่อสร้างโดย อาจารย์เฉลิมชัย โฆษิตพิพัฒน์ เมื่อ พ.ศ. 2540 บนพื้นที่เดิมของวัด 3 ไร่ และขยายออกเป็น 12 ไร่ พระอุโบสถสีขาวตกแต่งด้วยลวดลายกระจกสีเงินแวววาว เป็นเชิงชั้นลดหลั่นกันไป หน้าบันประดับด้วยพญานาค ภาพจิตรกรรมฝาผนังภายในพระอุโบสถและห้องแสดงภาพวาดน่าสนใจมาก
              </p>
      <!-- แหล่งที่4 -->
      <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/f6209929-2aba-4ae5-9bc1-bc7afcc6cbcc.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">4. ภูชี้ฟ้า จังหวัดเชียงราย</h5>
              <p class="card-text">  เป็นที่ร่ำลือกันว่า "ภูชี้ฟ้า" เหมาะสำหรับเป็นจุดชมและถ่ายรูปพระอาทิตย์ขึ้นและตกดินที่สวยที่สุดแห่งหนึ่งของประเทศ โดยเฉพาะอย่างยิ่งในช่วงฤดูหนาว ที่นี่จะสวยมากเป็นพิเศษ นอกเหนือจากวิวทัศน์สวย ๆ แล้ว ไม่แน่ว่าระหว่างทางที่เดินขึ้นไป นักท่องเที่ยวอาจจะได้เจอเข้ากับดอกนางพญาเสือโคร่งและต้นเสี้ยวดอกขาว ซึ่งจะออกดอกบานสะพรั่งในช่วงเดือนมกราคม-กุมภาพันธ์ ความโดดเด่นของภูชี้ฟ้าเห็นจะเป็นหน้าผาหินคล้ายนิ้วชี้ ปกคลุมด้วยหญ้า ไม้พุ่ม และโขดหิน ซึ่งเป็นจุดที่นักท่องเที่ยวนิยมถ่ายรูปเป็นอย่างมาก เพราะจะเห็นสายหมอกที่ลอยละล่องกลางหุบเขางดงามเกินบรรยาย
              </p>
        <!-- แหล่งที่5 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/b710f980-e32b-4275-9b28-21e8d1874123.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">5. ดอยผาตั้ง จังหวัดเชียงราย</h5>
              <p class="card-text">    ตั้งอยู่ในเขตตำบลปอ อำเภอเวียงแก่น และเป็นสถานที่ท่องเที่ยวที่ขึ้นชื่อสำหรับชมพระอาทิตย์ขึ้นและทะเลหมอกในตอนเช้าและชมพระอาทิตย์ตกในเวลาเย็น จากยอดดอยสามารถมองเห็นแม่น้ำโขงฝั่งลาวและสามารมองเห็นยอดภูชี้ฟ้าที่อยู่ห่างออกไปกว่า 25 กิโลเมตรได้ชัดเจน โดยเฉพาะช่วงหน้าหนาว ที่นี่จะมองเห็นทะเลหมอกสวย ๆ ตรงบริเวณ "ช่องผาขาด" และ "เนิน 102-เนิน 103" ท่ามกลางบรรยากาศที่เงียบสงบ หมู่มวลดอกไม้หน้าหนาว ทั้งดอกนางพญาเสือโคร่งและดอกเสี้ยว ที่กำลังออกดอกบานสะพรั่ง
              </p>
        <!-- แหล่งที่6 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/ecdc20b5-3936-42e0-91f7-fca3e79e4353.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">6. สระน้ำมรกตขุนน้ำนางนอน จังหวัดเชียงราย</h5>
              <p class="card-text">   ตั้งอยู่ภายในวนอุทยานถ้ำหลวง-ขุนน้ำนางนอน เป็นสระน้ำธรรมชาติที่อยู่ใกล้กับถ้ำทรายทอง ห่างจากถ้ำหลวงราว ๆ 3 กิโลเมตร เป็นจุดที่ต้องสูบน้ำออกมาจากถ้ำหลวงเมื่อช่วงเหตุการณ์ช่วยเหลือทีมนักฟุตบอลเยาวชนหมูป่า ซึ่งหลังจากเหตุการณ์ดังกล่าว สระน้ำบริเวณนี้ก็ได้กลายเป็นสีเขียวมรกตใส ตั้งอยู่ท่ามกลางป่าไม้เขียวขจี บรรยากาศร่มรื่นสบายตา อากาศเย็นสดชื่น สวยงามน่าท่องเที่ยว
              </p>
        <!-- แหล่งที่7 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/54a8779e-f7ee-4e9e-8a9f-a852668477e3.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">7. สวนแม่ฟ้าหลวง จังหวัดเชียงราย</h5>
              <p class="card-text">    "สวนแม่ฟ้าหลวง" หรือ "สวนดอยตุง" สวนไม้ดอกไม้หลากสีสัน กว้างไกลสุดลูกหูลูกตา บนพื้นที่ 25 ไร่ ภายในสวนถูกตกแต่งด้วยพันธุ์ไม้ดอกไม้ประดับสวยงาม ดูแลอย่างดี ผลัดเปลี่ยนหมุนเวียนออกดอกตลอดปี อาทิ ดอกซัลเวีย พิทูเนีย บีโกเนีย กุหลาบ ดอกลำโพง ไม้มงคลต่าง ๆ ไม้ยืนต้นและซุ้มไม้เลี้อยมากกว่า 70 ชนิด  นอกจากแปลงไม้ประทับกลางแจ้งแล้วยังมีโรงเรือนไม้ในร่มจุดเด่นคือกล้วยไม้จำพวกรองเท้านารีชนิดต่าง ๆ ที่มีดอกสวยงามมาก บริเวณกลางสวนมีประติมากรรมเด็กยืนต่อตัวของ มีเซียม ยิบอินซอย โดยสมเด็จย่าพระราชทานชื่อว่าความต่อเนื่องที่สื่อถึงการทำงานจะสำเร็จได้ต้องทำอย่างต่อเนื่อง มาถึงจุดนี้แวะเติมพลังกันสักนิดกับ "ดอยตุงคาเฟ่" นั่งพักชิล ๆ จิบกาแฟหอม ๆ ในสวน ดูรายละเอียดเพิ่มเติมได้ที่ สีสันแห่งดอยตุง กับ 7 จุดเช็กอินที่ฟินไปกับสายหมอกและขุนเขา
              </p>
        <!-- แหล่งที่8 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/2917466a-1c88-4c65-b8c4-18422431750b.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">8. วัดพระธาตุดอยสุเทพราชวรวิหาร จังหวัดเชียงใหม่</h5>
              <p class="card-text"> วัดที่มีความสำคัญในแง่ประวัติศาสตร์ เป็นวัดคู่บ้านคู่เมืองที่ห้ามพลาดเมื่อมาถึงจังหวัดเชียงใหม่ ภายในเป็นที่ประดิษฐานขององค์เจดีย์ทรงมอญ ที่ใต้ฐานพระเจดีย์มีพระบรมสารีริกธาตุของสมเด็จพระสัมมาสัมพุทธเจ้าบรรจุอยู่ ซึ่งจัดได้ว่าเป็นปูชนียสถานที่แสดงออกถึงศิลปกรรมล้านนาไทยที่สำคัญคู่เมืองเชียงใหม่มาช้านาน อีกทั้งยังเป็นพระธาตุประจำ "ปีมะแม" ด้วย นอกจากนี้ยังสามารถขึ้นมาชมความงดงามขององค์เจดีย์ พร้อมกับชมทิวทัศน์โดยรอบของตัวเมืองเชียงใหม่ได้ โดยสามารถเดินขึ้นบันไดนาค 300 ขั้น เพื่อไปยังวัด หรือจะเลือกใช้บริการรถกระเช้าขึ้น-ลงดอยสุเทพ ก็ได้ตามสะดวก
              </p>
        <!-- แหล่งที่9 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/8eb80eba-300f-43a1-b431-c18c47650117.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">9. วัดพระสิงห์วรมหาวิหาร จังหวัดเชียงใหม่</h5>
              <p class="card-text">  พระอารามหลวงชั้นเอก ชนิดวรมหาวิหาร เป็นวัดหนึ่งที่สำคัญของเมืองเชียงใหม่ ตั้งอยู่ในบริเวณคูเมืองเชียงใหม่ ถนนสามล้าน โดย "พญาผายู" กษัตริย์องค์ที่ 5 ในราชวงศ์มังราย ได้โปรดเกล้าฯ ให้สร้างวัดนี้ พร้อมทั้งพระเจดีย์สูง 24 ศอก เพื่อใช้เป็นที่บรรจุอัฐิของ "พญาคำฟู" พระราชบิดา ภายในวัดมีพระพุทธรูปปางมารวิชัยขัดสมาธิเพชร ชาวบ้านเรียกกันว่า "พระพุทธสิหิงค์" (ศิลปะเชียงแสน) เป็นพระพุทธรูปที่ศักดิ์สิทธิ์และชาวเชียงใหม่ให้ความเคารพนับถืออย่างมาก นอกจากนี้ยังเป็นพระธาตุประจำปีเกิดของผู้ที่เกิด "ปีมะโรง" อีกด้วย
              </p>
        <!-- แหล่งที่10 -->
        <div class="picture">            
              <img src="https://s359.kapook.com//pagebuilder/ed09f325-2d7e-49d9-bd70-082d9f4c1ec3.jpg" class="card-img-bottom"
                alt="img">
            </div>
            
              <h5 class="cart-title">10. ดอยอินทนนท์ จังหวัดเชียงใหม่</h5>
              <p class="card-text">  ยอดดอยที่ไม่ควรพลาดอย่างยิ่งสำหรับดอยอินทนนท์เพราะที่นี่สูงจากระดับน้ำทะเลมากถึง 2,565 เมตร จึงเป็นภูเขาที่สูงที่สุดในเมืองไทย ซึ่งใครต่อใครก็อยากได้ไปสัมผัสสักครั้งในชีวิต ดอยอินทนนท์ตั้งอยู่ในอุทยานแห่งชาติดอยอินทนนท์ มีธรรมชาติที่อุดมสมบูรณ์ อากาศจึงหนาวเย็นตลอดทั้งปี นอกจากนี้บริเวณโดยรอบดอยอินทนนท์ยังมีสถานที่ท่องเที่ยวที่น่าสนใจอีกมากมาย ไม่ว่าจะเป็นเส้นทางศึกษาธรรมชาติกิ่วแม่ปาน, เส้นทางศึกษาธรรมชาติอ่างกา, น้ำตกสิริภูมิ, น้ำตกแม่ยะ, น้ำตกวชิรธาร, พระมหาธาตุเจดีย์นภเมทนีดล, พระมหาธาตุเจดีย์นภพลภูมิสิริ เป็นต้น
              </p>

    </div>  
  </template>
  
  <script>
 
  </script>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

  h5,p {
    font-family: "Sriracha", cursive;
    font-weight: 400;
  font-style: normal;

  }
  
  a{
    font-family: "Sriracha", cursive;
    font-weight: 400;
  font-style: normal;
    }
  .card-text{
    padding-bottom: 2%;
  }
  h1 {
            text-align: center;
            padding-top: 20px;
            padding-left: 50px;
            border: 2px solid #333;
            padding-bottom: 30px;
            background-color: #bafc85;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
            font-family: "Sriracha", cursive;
            font-weight: 400;
            font-style: normal;          
  }
        .picture {
            text-align: center;
            padding-bottom: 2%;
        }

        .picture img {
          max-width: 35%;
          height: auto;
          padding: 15px;
          box-shadow: 0 0 10px rgb(0, 0, 0);
          background-color: #011403;
      }

        .cart-title {
            text-align: center;
            margin-top: 20px;
            color: #333;
  
          
        }

        .card-text {
            text-align: justify;
            margin-top: 10px;
            color: #555;
            padding-left: 4%;
            padding-right: 4%;
        }
      
  </style>
  