<template>
  <h1>แหล่งท่องเที่ยวยอดนิยม</h1>
  <br/>
      <!-- แหล่งที่1 -->
  <div class=" my-5">
      <div class="picture">            
            <img src="https://img.wongnai.com/p/800x0/2020/12/03/50a00ed174cf49538892f2192961fd29.jpg"   class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">1.ดอยอินทนนท์ จังหวัดเชียงใหม่</h5>
            <p class="card-text"> สภาพภูมิประเทศทั่วไปประกอบด้วยภูเขาสลับซับซ้อน มีดอยอินทนนท์เป็นยอดเขาที่สูงที่สุด สูงจากระดับน้ำทะเล 2,565 เมตรยอดเขาที่มีระดับสูงรองลงมาคือ ดอยหัวมดหลวง สูงจากระดับน้ำทะเล 2,330 เมตร ป่าอินทนนท์นี้เป็นแหล่งกำเนิดของต้นน้ำแม่กลาง แม่ป่าก่อ แม่ปอน แม่หอย แม่ยะ แม่แจ่ม แม่ขาน และเป็นส่วนหนึ่งของต้นน้ำแม่ปิงที่ ให้พลังงานไฟฟ้าที่เขื่อนภูมิพล มีเอกลักษณ์ทางธรรมชาติที่สวยงาม เช่น น้ำตกต่างๆ โดยเฉพาะน้ำตกแม่ยะ ที่ได้ชื่อว่าสวยที่สุดของประเทศ
            </p>
          
    <!-- แหล่งที่2 -->
    <div class="picture">            
            <img src="https://nantourism.go.th/filesAttach/travel/1533020679.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">2.ดอยเสมอดาว จังหวัดน่าน</h5>
            <p class="card-text">  ดอยเสมอดาว เพื่อมาชมความงดงามของจุดชมวิวทะเลหมอกก็เหมือนมาไม่ถึง  ดอยเสมอดาว ตั้งอยู่ใน อำเภอนาน้อย ในเขตอุทยานแห่งชาติศรีน่าน เป็นพื้นที่ที่มีลานกว้างไปเหมาะสำหรับการพักผ่อนชมพระอาทิตย์ขึ้นและพระอาทิตย์ตกในเวลาเดียวกัน และยังสามารถชมทะเลหมอกในยามเช้าคลอเคลียนภูเขาได้แบบอลังการ เป็นจุดชมวิวที่สามารถมองเห็นทิวทัศน์ได้แบบ360 องศา  ในเวลากลางคืนสามารถชมดาวเต็มท้องฟ้าได้อย่างสวยงาม
            </p>
  <!-- แหล่งที่3 -->
  <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/02/%E0%B8%9B%E0%B8%B2%E0%B8%87%E0%B8%AD%E0%B8%B8%E0%B9%8B%E0%B8%8702.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">3.ปาย แม่ฮ่องสอน</h5>
            <p class="card-text">    หากพูดถึงจังหวัดยอดฮิตทางภาคเหนือที่ได้รับความนิยมจากนักท่องเที่ยวรองลงมาจากเชียงใหม่ก็คงเป็นอะไรไม่ได้นอกจาก “แม่ฮ่องสอน” จังหวัดที่เต็มไปด้วยเสน่ห์ที่น่าค้นหา ทั้งในแง่ของศิลปะวัฒนธรรมของชาวบ้านต่างสายพันธุ์ที่อพยพมาจากพื้นที่ต่าง ๆ และสถานที่ท่องเที่ยวทางธรรมชาติ รวมถึงวัดวาอารามที่มีการนำศิลปะอันงดงามของชาติต่าง ๆ มาผสมผสานจนเกิดเป็นความเข้ากันอย่างลงตัว
            </p>
    <!-- แหล่งที่4 -->
    <div class="picture">            
            <img src="https://blueskyproperty.co.th/wp-content/uploads/2023/04/Bluesky-Mar2_1-1024x683.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">4.เขาค้อ เพชรบูรณ์</h5>
            <p class="card-text">  เขาค้อเป็นอำเภอหนึ่งในจังหวัดเพชรบูรณ์เป็นอำเภอที่ตั้งอยู่บนภูเขาสูง ซึ่งเพชรบูรณ์เป็นจังหวัดที่มีทิวเขาล้อมรอบ ตั้งแต่ด้านตะวันตกไปจนถึงแนวเขตด้านเหนือ บางคนอาจยังมีความสับสนอยู่บ้างว่าเขาค้ออยู่ภาคไหน เพราะจริงๆ แล้วเพชรบูรณ์เป็นจังหวัดที่อยู่ในภาคกลางแต่บ้างก็ว่าตั้งอยู่ทางภาคเหนือตอนล่าง หรือภาคกลางตอนบนของประเทศไทย ซึ่งอำเภอเขาค้อ หากดูตามข้อมูลทางภูมิศาสตร์ เขาค้อจะอยู่ภาคเหนือตอนล่าง โดยจะอยู่ห่างจากกรุงเทพประมาณ 346-349 กิโลเมตร ในส่วนพื้นที่ตอนกลางเป็นที่ราบลุ่มคล้ายอ่างลาดชันจากทิศเหนือลงทิศใต้ และยังมีแม่น้ำป่าสักไหลผ่านตลอดแนวที่ราบ บริเวณใจกลางของจังหวัด
            </p>
      <!-- แหล่งที่5 -->
      <div class="picture">            
            <img src="https://roijang.com/wp-content/uploads/2022/07/view-koh-larn-pattaya.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">5.เกาะล้าน ชลบุรี</h5>
            <p class="card-text">    เกาะล้านแม้จะห่างจากชายหาดพัทยาเพียง 7.5 กิโลเมตร แต่ก็ขึ้นชื่อมากเรื่องทัศนียภาพที่งดงาม หาดทรายขาวสะอาด น้ำทะเลสีฟ้าใสเหมาะกับการดำน้ำดูปะการัง และปลาตัวเล็กตัวน้อย เกาะล้านเป็นสถานที่ท่องเที่ยวที่นักท่องเที่ยวชาวไทยและชาวต่างชาติต้องมาเยือนเมื่อมาถึงเมืองพัทยา จังหวัดชลบุรี เพราะไม่ว่าคุณจะเป็นสายนอนเล่นชิลๆ บนหาดทรายขาวละเอียด หรือจะเป็นสายเล่นกีฬาทางน้ำ ทั้งสกีน้ำ และเจ็ตสกี 
            </p>
      <!-- แหล่งที่6 -->
      <div class="picture">            
            <img src="https://s359.kapook.com/pagebuilder/6fc360ab-4f40-430f-8dad-e37bde76e057.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">6.ภูกระดึง เลย</h5>
            <p class="card-text"> เป็นหนึ่งในแหล่งท่องเที่ยวที่มีชื่อเสียงมากที่สุดของประเทศไทย เนื่องจากมีธรรมชาติที่สวยงาม ในแต่ละปีจึงมีคนมาเที่ยวเฉลี่ยหลายหมื่นคน โดยเฉพาะในช่วงวันหยุดยาวมักมีนักท่องเที่ยวขึ้นไปพักผ่อนบนภูกระดึงจำนวนมาก ภูกระดึงได้รับการจัดตั้งเป็นป่าสงวนแห่งชาติในปี พ.ศ. 2486 และเป็นอุทยานแห่งชาติเมื่อวันที่ 7 ตุลาคม พ.ศ. 2502 โดยเป็นอุทยานแห่งชาติลำดับที่สองถัดจากอุทยานแห่งชาติเขาใหญ่อุทยานแห่งชาติภูกระดึง ได้รับการขึ้นทะเบียนเป็นอุทยานมรดกอาเซียน แห่งที่ 57
            </p>
      <!-- แหล่งที่7 -->
      <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2020/06/17/9481e0a0-b085-11ea-8fac-236a281cd6c5_original.JPG" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">7.ตลาดน้ำอัมพวา สมุทรสงคราม</h5>
            <p class="card-text">  ในคลองอัมพวานั้นจะมี พ่อค้า แม่ค้า พายเรือขายอาหาร และเครื่องดื่ม เช่น ขนมไทย อาหารทะเลเผา ก๋วยเตี๋ยวเรือ ผัดไทย หอยทอด ขนมใส่ไส้ ขนมกล้วย และอื่นๆ อีกมากมาย นอกจากจะดูมีเสน่ห์ วิถีชีวิตแบบไทยๆ   เราจะซื้อของต่างๆ ได้จากเรือพายของพ่อค้าแม่ค้า ชวนให้นึกถึงอดีตอันแสนคลาสิคได้เป็นอย่างดี นอกจากนี้ยังมีรถเข็นขายของบนบกด้วย และก็มีร้านรวงเปิดให้เดินชิล หาร้านอร่อยนั่งทานริมน้ำ หรือจะนั่งจิบกาแฟชมบรรยากาศก็ได้
            </p>
      <!-- แหล่งที่8 -->
      <div class="picture">            
            <img src="https://krabi.thailocallink.com/tmp/a939c586fe9d26f4c489c29d15db25a7.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">8.เกาะพีพีดอน</h5>
            <p class="card-text"> หมู่เกาะพีพี เป็นส่วนหนึ่งของอุทยานแห่งชาติ หาดนพรัตน์ธารา-หมู่เกาะพีพี เดิมชาวทะเลเรียกหมู่เกาะนี้ว่า “ปูเลาปิอาปิ” คำว่า “ปูเลา” แปลว่าเกาะ คำว่า “ปิอาปิ” แปลว่าต้นไม้ทะเลชนิดหนึ่งจำพวกแสม และโกงกาง ต่อมาเรียกว่า “ต้นปีปี” ซึ่งภายหลัง กลายเสียงเป็น “พี พี" ซึ่งได้ ชื่อว่าเป็นอาณาจักรแห่งบุปผาใต้สมุทรนักท่องเที่ยวที่มาเที่ยวหมู่เกาะนี้ส่วนใหญ่มาเพื่อดำน้ำดูปะการัง ดอกไม้้ทะเลและปลาหลากสีสันที่สวยงาม
            </p>
      <!-- แหล่งที่9 -->
      <div class="picture">            
            <img src="https://img.kapook.com/u/2019/pattra/pattravelmarch2019/kohkhamch03.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">9.เกาะขาม ชลบุรี</h5>
            <p class="card-text">  เกาะขาม จังหวัดชลบุรี เป็นเกาะเล็กๆ ที่ตั้งอยู่ไม่ไกลจากสัตหีบเลยค่ะ เพราะฉะนั้นคนกรุงแค่ขับรถไปชิลๆ 2 ชั่วโมงนิดๆ จากกรุงเทพฯ ก็ถึงแล้ว สำหรับการข้ามไปเที่ยวเกาะขามนั้น เราต้องจองตั๋วเรือล่วงหน้าไปเกาะขามกันก่อนกับเจ้าหน้าที่ฐานทัพเรือสัตหีบ
            </p>
      <!-- แหล่งที่10 -->
      <div class="picture">            
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/%E0%B8%A5%E0%B8%B2%E0%B8%99%E0%B8%AA%E0%B8%99_%E0%B8%93_%E0%B8%A0%E0%B8%B9%E0%B8%AA%E0%B8%AD%E0%B8%A2%E0%B8%94%E0%B8%B2%E0%B8%A7.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">10.ภูสอยดาว อุตรดิตถ์</h5>
            <p class="card-text">   มีลักษณะภูมิประเทศเป็นภูเขาสลับซับซ้อน เป็นแหล่งต้นน้ำของลำน้ำปาด สภาพอากาศเย็นสบายตลอดปี มีอุณหภูมิเฉลี่ยประมาณ 27 องศาเซลเซียส มีเทือกเขา กั้นพรมแดนระหว่างไทย-ลาว ยอดภูสอยดาวมีความสูงจากระดับน้ำทะเลปานกลางประมาณ 2,102 เมตร (อยู่ในเขตประเทศลาว) สูงเป็นอันดับ 5 ของประเทศ สภาพป่ามีความอุดมสมบูรณ์ประกอบด้วยป่าสนเขา ป่าดิบเขา ป่าดิบชื้น ป่าดิบแล้ง ป่าเบญจพรรณ และป่าเต็งรัง
            </p>

  </div>  
</template>

<script>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h5,p {
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;

}

a{
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;
  }
.card-text{
  padding-bottom: 2%;
}
h1 {
          text-align: center;
          padding-top: 20px;
          padding-left: 50px;
          border: 2px solid #333;
          padding-bottom: 30px;
          background-color: #bafc85;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
          font-family: "Sriracha", cursive;
          font-weight: 400;
          font-style: normal;          
}
      .picture {
          text-align: center;
          padding-bottom: 2%;
      }

      .picture img {
          max-width: 50%;
          height: auto;
          padding: 15px;
          box-shadow: 0 0 10px rgb(0, 0, 0);
          background-color: #011403;
      }

      .cart-title {
          font-size: 30px;
          text-align: center;
          margin-top: 20px;
          color: #333;
      }

      .card-text {
            text-align: justify;
            margin-top: 10px;
            color: #555;
            padding-left: 4%;
            padding-right: 4%;
        }
    
</style>
