<template>
  <h1>ภาคใต้</h1>
  <br/>
      <!-- แหล่งที่1 -->
  <div class=" my-5">
      <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/01-Ta-Pang-Mountain.jpg?tr=dpr-2,w-675"   class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">1. ดอยตาปัง</h5>
            <p class="card-text"> ชุมพรไม่ได้มีดีที่ “ทะเล” หากแต่ยังมี “ทะเลหมอก” สุด Unseen ให้ได้ชมที่บ้านบนดอย ตำบลเขาทะลุ อำเภอสวี จังหวัดชุมพร ที่นี่เหมาะสำหรับสายแคมป์ปิ้งยิ่งนักเป็นภูเขาดิน สูงจากระดับน้ำทะเลประมาณ 500 เมตร เป็นจุดชมวิวทะเลหมอกแบบพาโนรามา มีลานให้กางเต็นท์นอนนับดาว จุดเด่นอยู่ที่มีทะเลหมอกให้ชมได้ตลอดปี แต่ในช่วงหน้าฝนอาจจะไม่สามารถขึ้นไปชมได้ เพราะทางขึ้นค่อนข้างลาดชัน
            </p>
          
    <!-- แหล่งที่2 -->
    <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/02.-Cock-Burn-Island-.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">2. หมู่เกาะช้างเผือก</h5>
            <p class="card-text">  หมู่เกาะช้างเผือก หรือเกาะคอกเบิร์น ตั้งอยู่ในทะเลพม่า สามารถเดินทางไปเที่ยวได้แบบ One Day Trip จากท่าเรือระนอง กิจกรรมไฮไลท์ของที่นี่ คือการปีนภูเขาที่มีลักษณะเหมือนช้างกำลังเล่นน้ำ เพื่อชมวิวชายหาดสีขาวบริสุทธิ์สองด้าน เชื่อมต่อกันด้วยสันทราย แลดูคล้ายช้างเผือก นอกจากนี้ยังมีธรรมชาติที่สวยงาม ทั้ง ทุ่งหญ้า ทะเลแหวก หน้าผาหิน และโลกใต้ทะเลสวยงามที่นักดำน้ำห้ามพลาด
            </p>
  <!-- แหล่งที่3 -->
  <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/03.Buffalo-Bay.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">3. อ่าวเขาควาย</h5>
            <p class="card-text">   อ่าวเขาควาย หรือ เกาะกำตก ที่เที่ยวสุด Unseen แห่งหมู่เกาะกำ อุทยานทางทะเลของเมืองระนอง อยู่ถัดมาทางตอนใต้ของเกาะค้างคาว เป็นอ่าวอยู่ด้านเหนือของฝั่งตะวันตกของเกาะ เป็นโค้งอ่าวครึ่งวงกลมคล้ายกับเขาควาย เป็นที่ตั้งของหน่วยพิทักษ์อุทยานฯ มีชายหาดขาวเนียนความยาวประมาณ 2 กิโลเมตร จรดป่าชายเลนของหมู่บ้านชาวมอแกน ตอนกลางของอ่าวมีบังกาโลที่พักหลายแห่งให้บริการ
            </p>
    <!-- แหล่งที่4 -->
    <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/f6209929-2aba-4ae5-9bc1-bc7afcc6cbcc.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">4. เกาะนุ้ยนอก</h5>
            <p class="card-text">  อีกหนึ่ง Unseen น่าไปภาคใต้ “เกาะนุ้ยนอก” แห่งอำเภอขนอม จังหวัดนครศรีธรรมราช เกาะเล็กๆ ที่มีบ่อน้ำจืดรูปร่างคล้ายรอยเท้า สามารถมองเห็นได้ในตอนที่น้ำทะเลลดลง เชื่อกันว่า เป็นพื้นที่กำเนิดตำนาน “หลวงปู่ทวดเหยียบน้ำทะเลจืด” ที่นี่จึงมีรูปหล่อ “หลวงปู่ทวด” ให้ได้สักการะบูชา กิจกรรมห้ามพลาดคือ ล่องทะเลไปชม “โลมาสึชมพู” ไฮไลท์เด็ดของทะเลขนอม
            </p>
      <!-- แหล่งที่5 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/b710f980-e32b-4275-9b28-21e8d1874123.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">5. เกาะยาวใหญ่</h5>
            <p class="card-text">   เกาะสวยบรรยากาศเงียบสงบแห่งอ่าวพังงา จังหวัดพังงา ทางใต้สุดของเกาะเป็นที่ตั้งของ “ชุมชนบ้านแหลมล้าน” ชุมชนมุสลิมที่มีวิถีชีวิตที่เรียบง่าย ช่วงน้ำลดมีปลาดาวหลากสีให้ได้ชม มีที่เที่ยวมากมาย เช่น อ่าวติกูด หาดคลองสน หาดโล๊ะปาเหรด หาดหินกอง แหลมนกออก หาดโล๊ะจาก Unseen ของเกาะแห่งนี้คือ “แหลมหาด” ทะเลแหวกขนาดใหญ่ที่มีชายหาดทอดตัวยาวเป็นกิโลเมตร
            </p>
      <!-- แหล่งที่6 -->
      <div class="picture">            
            <img src="https://s359.kapook.com//pagebuilder/ecdc20b5-3936-42e0-91f7-fca3e79e4353.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">6. เกาะผ้า</h5>
            <p class="card-text">  “เกาะผ้า” Unseen แห่งเกาะคอเขา จังหวัดพังงา จุดเด่นคือหาดทรายขาวกลางทะเลสีมรกต มองดูคล้ายผืนพรมกลางทะเลอันดามัน ช่วงน้ำลดจะเห็นเป็นเกาะเล็กๆ รวมเป็น 3 เกาะ ช่วงน้ำทะเลลดลงต่ำสุดก็จะกลายเป็นเกาะเดียวที่มีขนาดเกือบ 1 ตารางกิโลเมตร อีกทั้งยังเป็นแหล่งดำน้ำชมปะการังและปลาสวยงามนานาชนิด และยังมีเรือคยักให้พายเล่นเพลินๆ
            </p>
      <!-- แหล่งที่7 -->
      <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/07.Khai-Nui-Mountain.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">7. เขาไข่นุ้ย </h5>
            <p class="card-text">   พังงายังมี Unseen ที่ไม่ใช่ทะเล แต่เป็น “ทะเลหมอก” ที่เขาไข่นุ้ยที่บ้านฝายท่า อำเภอท้ายเหมือง จังหวัดพังงา เขาไข่นุ้ยเป็นเนินเขาลูกเตี้ยๆ สูงประมาณ 200 เมตร จากระดับน้ำทะเล บนยอดเขามีจุดชมพระอาทิตย์ขึ้นและวิวทะเลหมอกปกคลุมทิวเขาใหญ่น้อย มีแนวเขาลำแก่นเขากะปง เขาพังงา และแนวเทือกเขาภูตาจอที่มองเห็นได้เด่นชัดที่สุด สามารถชมทะเลหมอกได้ทุกฤดูแม้แต่ฤดูร้อน
            </p>
      <!-- แหล่งที่8 -->
      <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/08.Tan-Island.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">8. เกาะแตน</h5>
            <p class="card-text"> เกาะเล็กๆ ที่งดงามธรรมชาติแสนบริสุทธิ์ อยู่ทางตอนใต้ของเกาะสมุย จังหวัดสุราษฎร์ธานี ทางฝั่งตะวันออกของเกาะเป็นชายหาดยาวขนานกับแนวปะการัง เรียกว่า “อ่าวออก” ส่วนทางตะวันตกเป็นอ่าวปิด มีป่าชายเลนและหาดหิน เรียกว่า “อ่าวตก” มีแนวปะการังที่ค่อนข้างสมบูรณ์ มีเส้นทางเดินศึกษาธรรมชาติ 4 เส้นทาง และยังมีพระพุทธรูปทันใจองค์ใหญ่สีขาวนวลให้สักการะด้วย
            </p>
      <!-- แหล่งที่9 -->
      <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/09.Coral-Island.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">9. เกาะเฮ</h5>
            <p class="card-text"> เกาะสุด Unseen ของในเขตตำบลราไวย์ จังหวัดภูเก็ต เป็นเกาะส่วนตัวที่เหมาะสำหรับเที่ยวแบบเช้าไปเย็นกลับ เพราะอยู่ห่างจากชายฝั่งภูเก็ตประมาณ 10 กิโลเมตรเท่านั้น จุดเด่นคือหาดทรายขาวเนื้อละเอียด มีปะการังน้ำตื้นที่ยังอุดมสมบูรณ์ ทั้งปะการังสมอง ปะการังผักกาด ปะการังเขากวาง ปะการังจาน เป็น แนวยาว และเหล่าปลาน้อยใหญ่หลากสีสันสวยงาม
            </p>
      <!-- แหล่งที่10 -->
      <div class="picture">            
            <img src="https://ik.imagekit.io/tvlk/blog/2022/01/10.Din-Daeng-Doi.jpg?tr=dpr-2,w-675" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">10. ดินแดงดอย</h5>
            <p class="card-text"> “ดินแดงดอย” ที่เที่ยว Unseen น่าไปของจังหวัดกระบี่ เป็นเนินเตี้ยๆ ที่เดินทางไปไม่ยาก เดินเท้าขึ้นไปประมาณ 500 เมตร ก็ถึงจุดชมวิว 360 องศา ชมพระอาทิตย์ขึ้นท่ามกลางทะเลหมอกในยามเช้า ด้านบนยังสามารถกางเต็นท์พักแรมได้ ใครไม่ได้เตรียมเต็นท์มา ก็มีให้เช่าบริการ อีกทั้งยังมีบังกะโลและโฮมสเตย์ให้บริการเช่นกัน และยังมีร้านอาหารและคาเฟ่ให้นั่งชิมนั่งชมธรรมชาติอีกด้วย
            </p>

  </div>  
</template>

<script>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h5,p {
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;

}

a{
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;
  }
.card-text{
  padding-bottom: 2%;
}
h1 {
          text-align: center;
          padding-top: 20px;
          padding-left: 50px;
          border: 2px solid #333;
          padding-bottom: 30px;
          background-color: #81ecb6;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
          font-family: "Sriracha", cursive;
          font-weight: 400;
          font-style: normal;          
}
      .picture {
          text-align: center;
          padding-bottom: 2%;
      }

      .picture img {
          max-width: 50%;
          height: auto;
          padding: 15px;
          box-shadow: 0 0 10px rgb(0, 0, 0);
          background-color: #011403;
      }

      .cart-title {
        font-size: 30px;
          text-align: center;
          margin-top: 20px;
          color: #333;
      }

      .card-text {
            text-align: justify;
            margin-top: 10px;
            color: #555;
            padding-left: 4%;
            padding-right: 4%;
        }
    
</style>
