<template>
  <h1>ภาคตะวันตก</h1>
  <br/>
      <!-- แหล่งที่1 -->
  <div class=" my-5">
      <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2020/07/20/3769f0c0-ca47-11ea-8751-dd47eb04f5fd_original.jpg"   class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">1. อุทยานแห่งชาติเขาแหลม กาญจนบุรี</h5>
            <p class="card-text"> หนึ่งในอุทยานแห่งชาติของ กาญจนบุรี อย่าง อุทยานแห่งชาติเขาแหลม แห่งนี้ เพราะที่นี่เป็นพิกัดธรรมชาติสวยๆ ของ จุดชมวิวสวยๆ น้ำตกงามๆ รวมไปถึงที่เที่ยวอันซีนที่น่าจะไม่มีที่ไหนแล้ว อย่าง เขาสันหนอกวัว น้ำตกเกริงกระเวีย น้ำตกไดช่องถ่อง น้ำตกผาแตก จุดชมวิวป้อมปี่ อีกทั้ง สะพานมอญ วัดวังก์วิเวการาม เมืองบาดาล ด้วยเช่นกันค่ะ บอกเลยว่าถ้าพลาดก็พลาดพิกัดสวยๆ ไปทั้งหมดเลยน้า
            </p>
          
    <!-- แหล่งที่2 -->
    <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2020/11/23/65311f40-2d4a-11eb-bed4-0972e345f90c_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">2. อุทยานแห่งชาติไทรโยค กาญจนบุรี</h5>
            <p class="card-text">    อุทยานแห่งชาติไทรโยค มีนั้น จะมีพื้นที่ครอบคลุมในสองอำเภอของ จังหวัดกาญจนบุรี คือ อำเภอไทรโยค และ อำเภอทองผาภูมิ ค่ะ ภายในพื้นที่ก็จะเป็นป่าเบญจพรรณและป่าดิบแล้ง ซึ่งไทรโยคยังได้ชื่อว่าเป็นพื้นที่แห่งเดียวในไทย ที่มีค้างคาวที่เล็กที่สุดในโลก คือ ค้างคาวกิตติ และยังมี ปูราชินี ปูน้ำจืดชนิดใหม่ของโลกอาศัยอยู่ด้วยค่ะ อีกทั้งยังเป็นพื้นที่ที่เกี่ยวข้องกับประวัติศาสตร์คือช่วงสมัยสงครามโลกครั้งที่ 2 นั้น ไทรโยคเคยเป็นค่ายพักแรมของทหารญี่ปุ่นนั่นเองค่ะ
            </p>
  <!-- แหล่งที่3 -->
  <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2021/03/11/26cbe180-8237-11eb-81c2-97fdc0a151c3_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">3. อุทยานแห่งชาติเอราวัณ กาญจนบุรี</h5>
            <p class="card-text">      ถ้ามาเที่ยว กาญจนบุรี และไม่ได้มาที่ อุทยานแห่งชาติเอราวัณ หรือที่ตั้งของ น้ำตกเอราวัณ แห่งนี้ ก็คงจะเหมือนไม่ได้มาเที่ยวกาญฯ แน่นอน เพราะที่นี่เป็นพิกัดยอดฮิตเลยก็ว่าได้ ยิ่งถ้ามาในช่วงปลายฝนต้นหนาว ยิ่งสวยไปเลยค่า น้ำตกจะมีระยะทางประมาณ 1,500 เมตรอยู่ต่อขึ้นไปเป็นชั้นๆ รวมแล้ว 7 ชั้น ซึ่งแต่ละชั้นก็จะมีความสวยงามแตกต่างกันไปค่ะ และมีเส้นทางศึกษาธรรมชาติให้สายลุยได้ไปเดินชมธรรมชาติสวยๆ กันอีกด้วยค่า
            </p>
    <!-- แหล่งที่4 -->
    <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2022/05/10/a210e380-d011-11ec-a531-1528fe62010d_webp_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">4. อุทยานแห่งชาติเฉลิมรัตนโกสินทร์ กาญจนบุรี</h5>
            <p class="card-text">   มากันที่อุทยานฯ เล็กๆ ของ กาญจนบุรี อย่าง อุทยานแห่งชาติเฉลิมรัตนโกสินทร์ กันบ้าง แม้ว่าจะเป็นอุทยานแห่งชาติที่มีเนื้อที่ไม่เยอะมาก แต่ก็มีสภาพป่าอุดมสมบูรณ์อย่างมาก รวมถึงมีหลักฐานที่แสดงถึงประวัติศาสตร์ว่าที่นี่เคยเป็นเส้นทางเดินทัพของพม่าและกองทัพญี่ปุ่นด้วยค่ะ ซึ่งถ้าใครมาที่อุทยานฯ นี้ ก็ต้องแวะมาเที่ยวธรรมชาติสวยๆ อย่าง ถ้ำธารลอดใหญ่ ถ้ำธารลอดน้อย น้ำตกไตรตรึงษ์ น้ำตกสไลเดอร์ น้ำตกธารเงิน น้ำตกธารทอง เป็นต้น
            </p>
      <!-- แหล่งที่5 -->
      <div class="picture">            
            <img src="https://tatapi.tourismthailand.org/tatfs/Image/CustomPOI/Picture/P03008165_1.jpeg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">5. อุทยานแห่งชาติเขาสามร้อยยอด ประจวบคีรีขันธ์</h5>
            <p class="card-text">    มาเปลี่ยนบรรยากาศไปแทบทะเลกันบ้าง นั่นก็คือ ประจวบคีรีขันธ์ ค่ะ ซึ่งอุทยานฯ นี้จะคุ้นหูเราเป็นอย่างดีเลยกับ อุทยานแห่งชาติเขาสามร้อยยอด โดยภูมิประเทศก็จะมีความสวยงามแต่ก็แปลกตาอย่างมาก เพราะมีภูเขาหินปูนสลับซับซ้อนกันไป รวมถึงมีที่ราบน้ำท่วมอยู่ริมชายฝั่งทะเลด้วยค่ะ ซึ่งที่นี่แหละเป็นที่อาศัยของนกนานาชนิดชั้นเยี่ยมเลยค่ะ พิกัดที่ห้ามพลาดก็มีตั้งแต่ บึงบัว ทุ่งสามร้อยยอด คลองเขาแดง จุดชมวิวเขาแดง ถ้ำพระยานคร เป็นต้น
            </p>
      <!-- แหล่งที่6 -->
      <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2020/07/08/0a4ab560-c0c5-11ea-90d9-278915d663f4_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">6. อุทยานแห่งชาติกุยบุรี ประจวบคีรีขันธ์</h5>
            <p class="card-text">     อีกหนึ่งพิกัดสวยๆ ก็ต้องมาที่ อุทยานแห่งชาติกุยบุรี ของ จังหวัดประจวบคีรีขันธ์ ที่เป็นป่าต้นน้ำลำธาร มีทรัพยากรธรรมชาติที่สำคัญมากมาย ทั้ง พันธุ์ไม้ สัตว์ป่า รวมไปถึงวิวทิวทัศน์ที่สวยงาม อีกทั้งมีสภาพเทือกเขาสลับซับซ้อนกัน และยังเป็นส่วนหนึ่งของเทือกเขาตะนาวศรีด้วยค่ะ เลยทำให้ที่นี่กลายมาเป็นอีกจุดการชมสัตว์ป่านั่นเองค่ะ ทั้ง ช้างป่า กระทิง วัวแดง นกนานาชนิด เป็นต้น หรือใครอยากชมธรรมชาติ ก็มีทั้ง น้ำตกด่านมะค่า น้ำตกผาสวรรค์ น้ำตกห้วยดงมะไฟ น้ำตกผาหมาหอน และรวมไปถึง จุดชมวิวทิวทัศน์สันมะค่า
            </p>
      <!-- แหล่งที่7 -->
      <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2020/12/21/eee4c6e0-434f-11eb-80e3-2fbf2839b261_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">7. อุทยานแห่งชาติหาดวนกร ประจวบคีรีขันธ์</h5>
            <p class="card-text">      มากันที่ชายหาดสวยๆ กันบ้าง ต้องนึกถึง อุทยานแห่งชาติหาดวนกร ของ ประจวบคีรีขันธ์ เลยค่า เพราะเป็นที่ตั้งของหาดสวยที่ทอดตัวยาวลงไปในทะเลอย่างเงียบสงบนั่นเองค่ะ รวมไปถึงมีทิวสนทะเล และสนประดิพัทธ์ขึ้นขนานกับทะเลแบบสวยงามมากด้วย นอกจากเราจะมาเที่ยวทะเลได้แล้ว ที่นี่ก็ยังเป็นแหล่งฮิตของการดูนก ทั้ง นกขมิ้นท้ายทอยดำ นกยางทะเล นกแซงแซวหาปลา นกตะขาบทุ่ง นกจาบคาคอสีฟ้า เป็นต้น หรือจะเดินเที่ยวศึกษาระบบนิเวศตามสถานีต่างๆ ภายในเขตอุทยานฯ ก็มีมากถึง 28 สถานี
            </p>
      <!-- แหล่งที่8 -->
      <div class="picture">            
            <img src="https://cms.dmpcdn.com/travel/2022/08/21/4bec25a0-2124-11ed-8404-dd318720dbc5_webp_original.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">8. อุทยานแห่งชาติแม่เมย ตาก</h5>
            <p class="card-text">    อุทยานแห่งชาติแม่เมย อุทยานฯ สวยๆ ของ ท่าสองยาง จังหวัดตาก ที่มีพื้นที่อยู่ติดกับชายแดนเมียนมา โดยมีแม่น้ำเมยไว้เป็นเส้นแบ่งเขตแดนค่ะ บรรยากาศโดยรอบก็จะเงียบสงบล้อมไปด้วยป่าไม้สีเขียวขจี และยังสามารถพบสัตว์ป่าได้อีกด้วย ทั้ง กวาง ละมั่ง ไก่ป่า นกเงือก นกขุนทอง นกตะขาบทุ่ง เป็นต้น และมีกิจกรรมสนุกๆ อย่าง การเดินป่าศึกษาธรรมชาติ เที่ยวชมน้ำตกผาเทวะ เดินชมทุ่งหญ้านิรนาม และไปชมน้ำตกสวยๆ ทั้ง น้ำตกแม่สลิดน้อย น้ำตกชาวดอย รวมถึงถ้ำสวย อย่าง ถ้ำแม่อุสุ ก็อยู่ในอุทยานฯ
            </p>
      <!-- แหล่งที่9 -->
      <div class="picture">            
            <img src="https://travel.mthai.com/app/uploads/2014/06/%E0%B8%95%E0%B8%B2%E0%B8%81%E0%B8%AA%E0%B8%B4%E0%B8%99%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%8A2.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">9. อุทยานแห่งชาติตากสินมหาราช ตาก</h5>
            <p class="card-text">   อุทยานแห่งชาติตากสินมหาราช มีพื้นที่เป็นเทือกเขาสูงชัน มีภูเขาสลับซับซ้อนกันไปค่ะ มีสภาพป่าสมบูรณ์มากๆ และอุดมไปด้วยป่าหลายชนิด ทั้ง ป่าดิบเขา ป่าสนเขา ป่าดงดิบ ป่าเต็งรัง และป่าเบญจพรรณ รวมถึงยังมีต้นกระบากที่ใหญ่สุดในประเทศไทยด้วยค่ะ และมี สะพานหิน ที่เกิดขึ้นเองตามธรรมชาติ น้ำตกห้วยหอย น้ำตกแม่ย่าป้า ที่มีน้ำไหลตลอดทั้งปี และมีสัตว์ป่าที่ชุกชุมด้วย</p>
      <!-- แหล่งที่10 -->
      <div class="picture">            
            <img src="https://travel.mthai.com/app/uploads/2016/09/DSC_2356.jpg" class="card-img-bottom"
              alt="img">
          </div>
          
            <h5 class="cart-title">10. อุทยานแห่งชาติแก่งกระจาน เพชรบุรี</h5>
            <p class="card-text">  อุทยานแห่งชาติแก่งกระจาน สถานที่ที่เป็นแหล่งของธรรมชาติสวยๆ เลยก็ว่าได้ อีกทั้งยังมีกิจกรรมต่างๆ ให้เราได้ทำกันมากมาย ไม่ว่าจะเป็น เดินป่า ดูทะเลหมอก ชมวิวสวย ตั้งแคมป์ใกล้ชิดธรรมชาติ หรือเล่นน้ำตก เพราะที่นี่มี เขื่อนแก่งกระจาน แคมป์บ้านกร่าง เขาพะเนินทุ่ง น้ำตกทอทิพย์ น้ำตกผาน้ำหยด เป็นพิกัดไม่ไกลจากกรุงเทพฯ ที่หลายๆ นิยมมาชิล มาชมธรรมชาติกันนั่นเองค่ะ ใครชอบชิลกับบรรยากาศแบบนี้ ไม่ควรพลาดจริงๆ
            </p>

  </div>  
</template>

<script>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h5,p {
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;

}

a{
  font-family: "Sriracha", cursive;
  font-weight: 400;
font-style: normal;
  }
.card-text{
  padding-bottom: 2%;
}
h1 {
          text-align: center;
          padding-top: 20px;
          padding-left: 50px;
          border: 2px solid #333;
          padding-bottom: 30px;
          background-color: #bafc85;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
          font-family: "Sriracha", cursive;
          font-weight: 400;
          font-style: normal;          
}
      .picture {
          text-align: center;
          padding-bottom: 2%;
      }

      .picture img {
          max-width: 50%;
          height: auto;
          padding: 15px;
          box-shadow: 0 0 10px rgb(0, 0, 0);
          background-color: #011403;
      }

      .cart-title {
        font-size: 30px;
          text-align: center;
          margin-top: 20px;
          color: #333;
      }

      .card-text {
            text-align: justify;
            margin-top: 10px;
            color: #555;
            padding-left: 4%;
            padding-right: 4%;
        }
    
</style>
