<script setup>
import { RouterView } from 'vue-router';
import NavBar from './views/layouts/NavBar.vue'
import FooterView from './views/layouts/FooterView.vue';
import { useHead } from '@unhead/vue'

import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'แหล่งท่องเที่ยวแต่ละภูมิภาค',
  description:'แหล่งท่องเที่ยวแต่ละภูมิภาค'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'แหล่งท่องเที่ยวแต่ละภูมิภาค',
      content:computed(()=> siteData.description)
    }
  ]
})
</script>

<template>
  <div class="bg">
  <NavBar />
  <RouterView />
  <FooterView />
</div>
</template>

<style>
.bg{
  background-color: rgb(194, 243, 255);
}
</style>
