<script scoped>
import { RouterLink } from 'vue-router';
</script>

<template>
    <nav class="navbar navbar-expand-lg nabar-dark shadow stickey-top" style="background: #1e7c5e;">
        <div class="container">
            <router-link :to="{ name: 'home' }" class="navbar-brand text-white"><h2>แหล่งท่องเที่ยว</h2></router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link :to="{ name: 'home' }" class="nav-link active text-white" aria-current="page"
                            href="home">หน้าแรก</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'PopularTourist' }" class="nav-link text-white" href="#">แหล่งท่องเที่ยวยอดนิยม</router-link>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.navbar {
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
}
</style>


